@font-face {
  font-family: "domine-regular";
  src: url("../fonts/00fonts/domine-regular-webfont.woff2") format("woff2"), url("../fonts/00fonts/domine-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "domine-bold";
  src: url("../fonts/00fonts/domine-bold-webfont.woff2") format("woff2"), url("../fonts/00fonts/domine-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "metropolis-bold";
  src: url("../fonts/00fonts/metropolis-bold-webfont.woff2") format("woff2"), url("../fonts/00fonts/metropolis-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "metropolis-semibold";
  src: url("../fonts/00fonts/metropolis-semibold-webfont.woff2") format("woff2"), url("../fonts/00fonts/metropolis-semibold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "metropolis-medium";
  src: url("../fonts/00fonts/metropolis-medium-webfont.woff2") format("woff2"), url("../fonts/00fonts/metropolis-medium-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "metropolis-regular";
  src: url("../fonts/00fonts/metropolis-regular-webfont.woff2") format("woff2"), url("../fonts/00fonts/metropolis-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "metropolis-light";
  src: url("../fonts/00fonts/metropolis-light-webfont.woff2") format("woff2"), url("../fonts/00fonts/metropolis-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "metropolis-extralight";
  src: url("../fonts/00fonts/metropolis-extralight-webfont.woff2") format("woff2"), url("../fonts/00fonts/metropolis-extralight-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "metropolis-italic";
  src: url("../fonts/00fonts/metropolis-regularitalic-webfont.woff2") format("woff2"), url("../fonts/00fonts/metropolis-regularitalic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
